<%- include ('partials/_header.ejs') -%>

                                    <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                                        <ul class="navbar-nav text-uppercase">
                                            <li class="nav-item">
                                                <a class="nav-link tm-nav-link" href="/index">Videos</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link tm-nav-link" href="/about">About</a>
                                            </li>
                                            <li class="nav-item active">
                                                <a class="nav-link tm-nav-link" href="/addphoto">Add Photo <span class="sr-only">(current)</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
					</div>
				</div>
			</div>
			<div class="tm-welcome-container tm-fixed-header tm-fixed-header-3">
				<div class="text-center">
					<p class="pt-5 px-3 tm-welcome-text tm-welcome-text-2 mb-1 mt-lg-0 mt-5 text-white mx-auto">
                        Talk to Us<br>about any question you have
                    </p>                	
				</div>                
            </div>

            <div id="tm-fixed-header-bg"></div> <!-- Header image -->
		</div>

		<!-- Page content -->
		<main>
			<div class="container-fluid px-0">
				<div class="mx-auto tm-content-container">					
					<div class="row mt-3 mb-2 pb-3">
						<div class="col-12">
							<div class="mx-auto tm-about-text-container px-3">
								<h2 class="tm-page-title mb-4 tm-text-primary">add new photo</h2>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae impedit, voluptatem vel officiis eos fugit libero sequi corporis consequuntur odit.
                                </p>
                            </div>							
						</div>						
					</div>
                    <div class="mx-auto pb-3 tm-about-text-container px-3">
                        <div class="row">
                            <div class="offset-3 col-lg-6 mb-5">
                                <form id="add-form" action="/add" method="POST" class="tm-contact-form" enctype="multipart/form-data">
                                  <div class="form-group">
                                    <input type="text" name="name" class="form-control rounded-0" placeholder="Name" required="" />
                                  </div>
                                  <div class="form-group">
                                    <textarea rows="8" name="comment" class="form-control rounded-0" placeholder="Comment" required=""></textarea>
                                  </div>
                                  <div class="form-group">
                                    <input style="padding: 45px !important;" name="image" accept="image/jpeg, image/png" class="form-control form-control-lg rounded-0" type="file" id="formFileLg">
                                  </div>
                                  <div class="form-group mb-0">
                                    <button type="submit" class="btn btn-primary rounded-0 d-block ml-auto mr-0 tm-btn-animate tm-btn-submit tm-icon-submit"><span>Submit</span></button>
                                  </div>
                                </form>    
                            </div>
                        </div>  
                    </div>                                      			
				</div>
			</div>
		</main>

		<%- include ('partials/_footer.ejs') -%>
        
	</div>

	<script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/parallax.min.js"></script>    
</body>
</html>